# Dependencies
/node_modules

# Next.js
/.next/
/out/
next-env.d.ts
*.tsbuildinfo

# Production
/build

# Environment variables
.env*.local
.env.local

# Yarn Berry
.yarn/cache
.yarn/unplugged
.yarn/install-state.gz
.pnp.*

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
*.pem

# Vercel
.vercel

# env
.env
.env.development
.env.production