.root {
  position: relative;
  display: inline-flex;
  border-radius: 999px;
  overflow: hidden;
  background: var(--color-accent-soft);
  flex-shrink: 0;
}

.header {
  width: 2.125rem;
  height: 2.125rem;
}

.profile {
  width: 100%;
  height: 100%;
}

.image {
  object-fit: cover;
}
